<p-toast position="bottom-center" key="tc"></p-toast>

<span class="badge badge-light z-depth-2 badge-header">
  <span matTooltip="Valószínűséggel súlyozott átlagár nettó jelenértéke">Pénzügyi kockázat elemzés</span>
</span>
<br>
<br>
<a (click)="redirectToBlog()">
  <mat-icon>read_more</mat-icon>
</a>
<br>
<br>
<form [formGroup]="nettoJelenFormGroup" (ngSubmit)="onNettoSubmit()">
  <button type="submit" mat-stroked-button color="primary" class="nextBtn" >Aktuális állapot mentése</button>

  <br>
  <div class="row">
    <div class="col-8">
      <mat-form-field>
        <mat-label>Jelenlegi részvényárfolyam {{penznem}}</mat-label>
        <input type="number" matInput placeholder="Adja meg a jelenlegi árfolyamot" formControlName="arfolyamCtrl">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Pénznem</mat-label>

        <mat-select [(value)]="penznem" formControlName="penznemCtrl">
          <mat-option value="(USD)">
            <i class="united states flag"> USA Dollár(USD)</i>
          </mat-option>
          <mat-option value="(EUR)">
            <i class="undefined"></i>
            Euro</mat-option>
          <mat-option value="(YEN)">Japan YEN</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Befektetett összeg {{penznem}}</mat-label>
      <input type="number" matInput placeholder="Adja meg a befektetett összeget" formControlName="befOsszegCtrl">
    </mat-form-field>
  </div>

  <div class="input-group mb-3 " style="margin-top: 2rem;">
    <input type="text" class="form-control" placeholder="Vásárolt mennyiség" aria-label="Recipient's username"
      aria-describedby="basic-addon2" readonly>
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"
        style="background-color: #3F729B;color: white;">{{$vasaroltMennyiseg }} db</span>
    </div>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <table class="table table-bordered table-hover z-depth-2" formArrayName="adatok">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Rizikó tényező</th>
        <th class="mat-header-cell" style="padding-right: 1rem;">Lehetséges kimenet / ár</th>
        <th class="mat-header-cell">Valószínűség (%)</th>
        <th class="mat-header-cell" style="padding-left: 1rem;">
          Valószínűséggel súlyozott átlag (lehetséges ár* valószínűséggel)
        </th>

      </tr>
    </thead>
    <tbody>
      <!-- Eleri az előző csucsot-->
      <tr class="mat-row" style="height: 50px;">
        <td class="mat-cell" style="margin-right: 1rem;">
          Eléri az előző csúcsot
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;">
            <input type="number" class="center" formControlName="csucsKimenetCtrl" matInput placeholder="">
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;padding-right: 1rem;">
            <input type="number" max="100" (focus)="csucsFocusState = true" (focusout)="csucsFocusState = false"
              class="center" formControlName="csucsValCtrl" required matInput placeholder="">
            <mat-hint align="end" *ngIf="csucsFocusState" style="color: red;">Összes fennmaradó: {{100 - $osszVal}}
            </mat-hint>
          </mat-form-field>
        </td>
        <td class="mat-cell" style="vertical-align: middle; text-align: center;
        color: #3F729B;font-weight: bold;font-size:medium;">{{csucsAtlag}}</td>
      </tr>
      <!-- Eléri a célárat-->
      <tr class="mat-row">
        <td class="mat-cell" style="margin-right: 2rem;">
          Eléri a célárat
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;">
            <input type="number" class="center" formControlName="celarKimenetCtrl" matInput placeholder="">
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;padding-right: 1rem;">
            <input type="number" max="100" class="center" (focus)="celarFocusState = true"
              (focusout)="celarFocusState = false" formControlName="celarValCtrl" required matInput placeholder="">
            <mat-hint align="end" *ngIf="celarFocusState" style="color: red;">Összes fennmaradó: {{100 - $osszVal}}
            </mat-hint>
          </mat-form-field>
        </td>
        <td class="mat-cell" style="vertical-align: middle; text-align: center;color: #3F729B;font-weight: bold;font-size:medium;">{{celarAtlag}}</td>
      </tr>
      <!-- Eléri a célár felét-->
      <tr class="mat-row">
        <td class="mat-cell" style="margin-right: 2rem;">
          Eléri a célár felét
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;">
            <input type="number" class="center" formControlName="celarFelKimenetCtrl" matInput placeholder="">
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;padding-right: 1rem;">
            <input type="number" max="100" class="center" (focus)="celarFelFocusState = true"
              (focusout)="celarFelFocusState = false" formControlName="celarFelValCtrl" required matInput
              placeholder="">
            <mat-hint align="end" *ngIf="celarFelFocusState" style="color: red;">Összes fennmaradó: {{100 - $osszVal}}
            </mat-hint>
          </mat-form-field>
        </td>
        <td class="mat-cell" style=" vertical-align: middle;text-align: center;color: #3F729B;font-weight: bold;font-size:medium;">{{celarFelAtlag}}</td>
      </tr>
      <!-- Eléri az előző aljat-->
      <tr class="mat-row">
        <td class="mat-cell" style="margin-right: 2rem;">
          Eléri az előző aljat
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;">
            <input type="number" class="center" formControlName="aljKimenetCtrl" matInput placeholder="">
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;padding-right: 1rem;">
            <input type="number" max="100" class="center" (focus)="aljFocusState = true"
              (focusout)="aljFocusState = false" formControlName="aljValCtrl" required matInput placeholder="">
            <mat-hint align="end" *ngIf="aljFocusState" style="color: red;">Összes fennmaradó: {{100 - $osszVal}}
            </mat-hint>
          </mat-form-field>
        </td>
        <td class="mat-cell" style="vertical-align: middle; text-align: center;color: #3F729B;font-weight: bold;font-size:medium;">{{aljAtlag}}</td>
      </tr>
      <!--Az ár történelmi mélypontig megy-->
      <tr class="mat-row">
        <td class="mat-cell" style="margin-right: 2rem;">
          Az ár történelmi mélypontig megy
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;">
            <input type="number" class="center" formControlName="melyKimenetCtrl" matInput placeholder="">
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;padding-right: 1rem;">
            <input type="number" max="100" class="center" (focus)="melyFocusState = true"
              (focusout)="melyFocusState = false" formControlName="melyValCtrl" required matInput placeholder="">
            <mat-hint align="end" *ngIf="melyFocusState" style="color: red;">Összes fennmaradó: {{100 - $osszVal}}
            </mat-hint>
          </mat-form-field>
        </td>
        <td class="mat-cell" style="vertical-align: middle; text-align: center;color: #3F729B;font-weight: bold;font-size:medium;vertical-align: middle;">{{melyAtlag}}</td>
      </tr>
      <!-- Csőd, vagy kivonják a részvényeket a tőzsdéről-->
      <tr class="mat-row">
        <td class="mat-cell" style="margin-right: 2rem;">
          Csőd, vagy kivonják a részvényeket a tőszdéről
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;">
            <input type="number" class="center" formControlName="csodKimenetCtrl" matInput placeholder="">
          </mat-form-field>
        </td>
        <td class="mat-cell">
          <mat-form-field style="padding-left: 1rem;padding-right: 1rem;">
            <input type="number" max="100" class="center" (focus)="csodFocusState = true"
              (focusout)="csodFocusState = false" formControlName="csodValCtrl" required matInput placeholder="">
            <mat-hint align="end" *ngIf="csodFocusState" style="color: #CC0000;">Összes fennmaradó: {{100 - $osszVal}}
            </mat-hint>
          </mat-form-field>
        </td>
        <td class="mat-cell" style="vertical-align: middle; text-align: center;color: #3F729B;font-weight: bold;font-size:medium;">{{csodAtlag}}</td>
      </tr>
      <!-- Átlagár-->
      <tr class="mat-row">
        <td class="mat-cell" style="text-align: center; font-weight: bold;color: #3F729B;vertical-align: middle;" colspan="2">
          <span>Átlagár</span>
        </td>
        <td class="mat-cell" style="font-size: larger; text-align: center;vertical-align: middle" [style.color]="getOsszValoszinuseg()">
          {{ $osszVal}} %
        </td>
        <td class="mat-cell" style="vertical-align: middle; color: #3F729B;font-size: larger;text-align: center;">
          {{osszAtlag | number:'1.1-3'}}
        </td>
      </tr>
    </tbody>

  </table>
  <br>
  <div class="input-group mb-3 ">
    <input type="text" class="form-control" placeholder="Befektetés átlagára" aria-label="Bef átlagára"
      aria-describedby="basic-addon2" readonly>
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"
        style="background-color: #3F729B;color: white;">{{befAtlagAra| number : '1.0-2' }}</span>
    </div>
  </div>
  <div class="input-group mb-3 ">
    <input type="text" class="form-control" placeholder="Befektetés jelenértéke" aria-label="Bef jelenérték"
      aria-describedby="basic-addon2" readonly>
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2"
        style="background-color: #3F729B;color: white;">{{befJelenErtek |number : '1.0-2' }}</span>
    </div>
  </div>
  <div class="input-group mb-3 ">
    <input type="text" class="form-control" placeholder="Befektetés nettó jelenértéke" aria-label="Bef netto jelenérték"
      aria-describedby="basic-addon2" readonly>
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2" style="color: white;"
        [ngStyle]="befNettoJelenErtek>0?{'background-color':'green'} : {'background-color': 'red'}">{{befNettoJelenErtek |  number : '1.0-2' }}</span>
    </div>
  </div>
</form>
<br>
<br>
