.mat-card {
    margin-top: 2%;
    width: 95%;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: center;
    color: #3F729B;
    font-weight: bold;
    padding: 1%;
    text-align: center;
}
.mat-card-second-row {
    width: 95%;
    margin-left: 1rem;
    margin-right: 2rem;
    background-color: blue;
}

.nextBtn {
  background-color: #3F729B;
  color: white;
}

table {
    width: 95%;
    margin-left: 1rem;
    margin-right: 2rem;
}
table .riziko_tenyezo {
    width: 25%;
    font-weight: bold;
}


.badge-header{
    padding: 1rem;
    margin-top:1rem;
     width:95%;
     color: #3F729B;
     font-size: small;
     margin-left: 1rem;
     margin-right: 2rem;
     text-transform: uppercase;
}

.mat-icon{
  font-size: xx-large;
  margin-left: 1rem;
  color: #3F729B;
}

form {
    width: 95%;
    margin-left: 1rem;
    margin-right: 2rem;
}
.mat-form-field {
    width: 100%;
}

.input-group {
    width: 95%;
    margin-left: 1%;
    margin-right: 2%;
}

button {
    margin-left: 1rem;
}

.center{
    text-align: center;
}

.mat-header-cell{
    text-align: center;
}

.kihagyBtn{
    margin-left: 1rem;
    border: 1px solid #CC0000;
    margin-bottom: 1.5rem;
}
