<div>
<h4 style="color: #3F729B;">Befektetések</h4>
<br>

<ul class="list-group list-group-flush">
    <hr style="margin: 0;padding: 0;">
        <a (click)="folyamatbanElemzesek()"><li  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Folyamatban levő elemzések
        <!--<span class="badge badge-primary badge-pill">0</span>-->
    </li></a>
    <a (click)="nyitotBefektetesek()"><li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Nyitott befektetések
        <!--<span class="badge badge-primary badge-pill">0</span>-->
    </li></a>
    <a (click)="lezartBefektetesek()"><li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Lezárt befektetések
        <!--<span class="badge badge-primary badge-pill">0</span>-->
    </li></a>
    <a (click)="figyeloLista()"><li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Figyelő lista
        <!--<span class="badge badge-primary badge-pill">0</span>-->
    </li></a>
    <a (click)="elvetettBefektetesek()"><li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Elvetett befektetések
        <!--<span class="badge badge-primary badge-pill">0</span>-->
    </li></a>
</ul>
</div>
