div{
    border-right: 1px solid lightgray;
    height: 100vh;
    padding-right: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

img{
    border: 0 none;
}

.badge{
    background: #3F729B;
}

.badge-reszveny{
    padding: 0.7rem;
    width: 100%;
    color: #3F729B;
    background-color: whitesmoke;
    font-size: medium;
    border: 1px solid #3F729B;
}
