<h2 mat-dialog-title>Átlagkeresetből befektetés
    <span>
        <img style="float: right;" src="../assets/img/logo.png" height="40" alt="sb-logo">
    </span>
</h2>

<hr>
<mat-dialog-content class="mat-typography">
    <h3>Pénzügyi intelligencia</h3>
    <p>
        A pénzügyi intelligencia a pénz megszerzésének , megtartásának , gyarapításának a tudománya . Ez a befektetések
        alapja. A pénzügyi intelligencia megmutatja , hogy milyenek a pénzügyi ismereteidet , vannak-e céljaid és
        mennyire hozol tudatos döntéseket. Ezeknek a mérőszáma a profit.
    </p>
    <br>
    <h4>
        Szeretnéd kézbe venni pénzügyeid irányítását?
        Akkor tanulj, és érd el a legmerészebb céljaidat!
    </h4>
    <h3>Modulok</h3>
    <span>A weboldal 5 fő modulból áll:</span>
    <br>
    <hr>
    <br>
    <ul>
        <li>
            <h4>A célok kitűzése</h4>
            <p>
                Lépésről lépésre megtanít célokat kitűzni úgy , hogy azok könnyen elérhető cselekvések sorozatai
                legyenek. Ezeket a tevékenységeket egy havi és heti ütemterv segítségével hatékony időbeosztásban tudod
                rendszerezni. Megtanulod ezáltal a megfelelő koordináció alapjait , és szinte minden eddig megrekedt
                célod elérhetővé válik. Segít rendszerezni a napjaidat , és a zűrzavarból rendezettséget varázsol.
            </p>
        </li>
        <br>
        <li>
            <h4>Pénzügyek kezelése</h4>
            <p>
                Ennek a résznek a segítségével könnyedén meg tudod szerezni a célodhoz szükséges pénzösszeget. A
                modulban kapsz egy pénzügyi táblázatot , ahova rögzíteni tudod a bevételeidet és a kiadásaidat. A
                statisztika segítségével meg tudod hozni a megfelelő döntéseket a szükséges megtakarítások eléréséhez.
                Ez segíteni fog egy tudatos pénzügyi gondolkodás kialakításában.
            </p>
        </li>
        <br>
        <li>
            <h4>Gazdasági elemzés</h4>
            <p>
                A Gazdasági elemzés részben található táblázat , és a hozzá tartozó statisztika segít megismerni a
                gazdaság jelenlegi állapotát. Ezeknek a támogatásával meg tudod határozni , hogy mennyi idő alatt lehet
                elérni a célodat , továbbá hozzá tudod igazítani a saját pénzügyi , valamint a befektetési stratégiádat.
                Kivédheted a váratlan helyzeteket , amit a gazdaság hirtelen esése okozhat.
            </p>
        </li>
        <br>
        <li>
            <h4>Részvényelemzés</h4>
            <p>
                A modul elindít a befektetővé válás útján. Segítségével nem kell a megtakarításaidat készpénzben , vagy
                banki betétben tartani , hanem ki tudod alakítani a saját befektetési portfóliódat. Megtanít
                kiválasztani , elemezni a megfelelő részvényeket. Segít meghatározni a befektetés megtérülését és
                kockázatát , valamint megtanít a sikeres menedzselésre. Ez a tudás hozzásegít , hogy bármilyen
                helyzetben késlekedés nélkül meg tudd hozni a megfelelő döntéseket .
            </p>
        </li>
        <br>
        <li>
            <h4>Emberismeret</h4>
            <p>
                Ennek a résznek a segítségével megismerheted az emberek valódi arcát , és könnyedén el tudod dönteni ,
                hogy kinek érdemes hallgatni a szavára. A kellemetlen eseményeket gond nélkül fogod tudni kezelni. Élj
                úgy , hogy az esőből kilépsz a fényre , és az élet napos oldalát éled.
                <br>
                <br>
                    <button type="button" class="btn btn-outline-primary">
                        Ne feledd , hogy “örökké nem eshet.”
                    </button>              
            </p>
        </li>
    </ul>
    <br>
    <p>
        A weboldal és a segédanyagok használatával egy átfogó tudás lesz a birtokodban. Javíthatsz a hatékonyságodon,
        magabiztos leszel , valamint növelheted a pénzügyi és az érzelmi intelligenciádat.

    </p>
    <br>
    <h4>
        A fejlődés garantált.
    </h4>
</mat-dialog-content>
<hr>
<mat-dialog-actions align="end">
    <!--<button mat-button mat-dialog-close>Cancel</button>-->
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Értem</button>
</mat-dialog-actions>