 <div class="main z-depth-3">
   <div class="center z-depth-3">
     <div *ngIf="loaderService.isLoading | async" class="loader-container">
       <mat-progress-bar mode="indeterminate"></mat-progress-bar>
     </div>

     <mat-card>
       <span class="cel">Céloktól a befektetésig</span>
       <div class="d-flex justify-content-end" style="margin-top: 1rem">
         <img src="../../../../assets/img/logo.png" style="padding-bottom: 1rem;height: 5rem;">
       </div>
       <mat-tab-group [(selectedIndex)]="activetabIndex" mat-align-tabs="center" animationDuration="1500ms"
         style="height: 100%;">
         <mat-tab>
           <ng-template mat-tab-label>
             <span style="color: #3f729b;">Bejelentkezés</span>
           </ng-template>
           <form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()" class="needs-validation" novalidate>
             <br>
             <div *ngIf="registralt"><span style="color: #3f729b;text-align: center;text-decoration: solid;">Most már
                 bejelentkezhetsz a fiókodba!</span></div>
             <br>
             <div class="form-group">
               <label for="emailLogin">E-mail cím</label>
               <input type="email" class="form-control" id="emailLogin" aria-describedby="emailLogin"
                 placeholder="E-mail cím" formControlName="loginNameCtrl" required>
               <div class="valid-feedback">Looks good!</div>
             </div>
             <br>
             <div class="form-group">
               <label for="passwLogin">Jelszó megadása</label>
               <input type="password" class="form-control" id="passwLogin" aria-describedby="passwLogin"
                 placeholder="Jelszó" formControlName="loginPasswCtrl" required>
               <small id="passwLogin" class="form-text text-muted"></small>
             </div>
             <!--<mat-form-field>
                <input matInput placeholder="E-mail cím" formControlName="loginNameCtrl" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input type="password" matInput placeholder="Jelszó" formControlName="loginPasswCtrl" required>
              </mat-form-field>-->
             <br>
             <button type="submit" mat-raised-button color="primary" class="btn btn-info btn-block gomb"
               [disabled]="loginFormGroup.invalid">Bejelentkezés</button>
             <br>
             <br>
             <!--<div *ngIf="!loginFormGroup.controls['loginPasswCtrl'].errors.required" class="alert alert-danger">
              Hibás jelszó!
            </div>-->
             <!--<button mat-raised-button color="warn"
            class="btn btn-info btn-block">Bejelentkezés Google fiókkal</button>-->
             <!--class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"-->
           </form>

         </mat-tab>
         <mat-tab>
           <ng-template mat-tab-label>
             Regisztráció
           </ng-template>
           <form [formGroup]="regFormGroup" (ngSubmit)="regSubmit()">
             <br>
             <!--<div class="form-group">
               <label for="email">E-mail cím</label>
               <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="E-mail cím"
                 formControlName="regEmailCtrl" required>
               <small id="email" class="form-text text-muted">Formailag helyes e-mail címet adj meg</small>

             </div>
             <div *ngIf="regFormGroup.controls['regEmailCtrl'].invalid && (regFormGroup.controls['regEmailCtrl'].dirty
               || regFormGroup.controls['regEmailCtrl'].touched)" class="alert alert-danger">
               Az email cím formátuma helytelen
             </div>
            -->
             <mat-form-field>
               <mat-label>E-mail cím</mat-label>
               <input matInput type="email" id="email" placeholder="E-mail cím" formControlName="regEmailCtrl" required>
               <mat-error *ngIf="regFormGroup.controls['regEmailCtrl'].invalid && (regFormGroup.controls['regEmailCtrl'].dirty
              || regFormGroup.controls['regEmailCtrl'].touched)">Az email cím helytelen</mat-error>
             </mat-form-field>
             <br><br>
             <!-- <div class="form-group">
               <label for="passw">Jelszó megadása</label>
               <input #password type="password" class="form-control" id="passw" aria-describedby="passw" placeholder="Jelszó"
                 formControlName="regPasswCtrl" required>
               <small id="passw" class="form-text text-muted"></small>
               <br>
               <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
                 [password]="password.value" class="green">
               </mat-password-strength>
             </div>

             <div *ngIf="regFormGroup.controls['regPasswCtrl'].invalid && (regFormGroup.controls['regPasswCtrl'].dirty
             || regFormGroup.controls['regPasswCtrl'].touched)" class="alert alert-danger">
               A jelszó megadása kötelező
             </div>-->

             <mat-form-field>
               <mat-label>Jelszó</mat-label>
               <input #password matInput type="password" id="passw" placeholder="Add meg a jelszót"
                 formControlName="regPasswCtrl" required>
               <mat-error *ngIf="regFormGroup.controls['regPasswCtrl'].invalid && (regFormGroup.controls['regPasswCtrl'].dirty
                 || regFormGroup.controls['regPasswCtrl'].touched)">A jelszó megadása kötelező</mat-error>
             </mat-form-field>
             <br>
             <div class="container">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <mat-password-strength #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
                  [password]="password.value" class="green">
                </mat-password-strength>
                </div>
              </div>
             </div>


             <br>
             <div class="container">
               <div class="row">
                 <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Vezetéknév</mat-label>
                    <input #password matInput type="text" id="lastname" placeholder="Add meg avezetéknevet"
                      formControlName="regLastNameCtrl" required>
                    <mat-error *ngIf="regFormGroup.controls['regLastNameCtrl'].invalid && (regFormGroup.controls['regLastNameCtrl'].dirty
                      || regFormGroup.controls['regLastNameCtrl'].touched)">A vezetéknév megadása kötelező</mat-error>
                  </mat-form-field>
                 </div>
                 <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Keresztnév</mat-label>
                    <input #password matInput type="text" id="firstname" placeholder="Add meg a keresztnevet"
                      formControlName="regFirstNameCtrl" required>
                    <mat-error *ngIf="regFormGroup.controls['regFirstNameCtrl'].invalid && (regFormGroup.controls['regFirstNameCtrl'].dirty
                      || regFormGroup.controls['regFirstNameCtrl'].touched)">A keresztnév megadása kötelező</mat-error>
                  </mat-form-field>
                 </div>
               </div>

             </div>


          <!--   <div class="form-group">
               <label for="lastname">Vezetéknév</label>
               <input type="text" class="form-control" id="lastname" aria-describedby="lastname"
                 placeholder="Vezetéknév" formControlName="regLastNameCtrl" required>
               <small id="lastname" class="form-text text-muted"></small>
             </div>
             <div *ngIf="regFormGroup.controls['regLastNameCtrl'].invalid && (regFormGroup.controls['regLastNameCtrl'].dirty
             || regFormGroup.controls['regLastNameCtrl'].touched)" class="alert alert-danger">
               A vezetéknév megadása kötelező
             </div> -->
             <br>

            <!--
             <div class="form-group">
               <label for="firstname">Keresztnév</label>
               <input type="text" class="form-control" id="firstname" aria-describedby="firstname"
                 placeholder="Keresztnév" formControlName="regFirstNameCtrl" required>
               <small id="firstname" class="form-text text-muted"></small>
             </div>
             <div *ngIf="regFormGroup.controls['regFirstNameCtrl'].invalid && (regFormGroup.controls['regFirstNameCtrl'].dirty
             || regFormGroup.controls['regFirstNameCtrl'].touched)" class="alert alert-danger">
               A keresztnév megadása kötelező
             </div> -->
             <mat-form-field>
              <mat-label>Születési idő</mat-label>
              <input #password matInput type="date" id="birthdate" placeholder="Add meg a keresztnevet"
                formControlName="regBirthDateCtrl" required>
              <mat-error *ngIf="regFormGroup.controls['regBirthDateCtrl'].invalid && (regFormGroup.controls['regBirthDateCtrl'].dirty
                || regFormGroup.controls['regBirthDateCtrl'].touched)">A születési megadása kötelező</mat-error>
            </mat-form-field>

             <!--<div class="form-group">
               <label for="birthdate">Születési idő</label>
               <input type="date" class="form-control" id="birthdate" aria-describedby="birthdate"
                 placeholder="Születési idő" formControlName="regBirthDateCtrl" required>
               <small id="birthdate" class="form-text text-muted"></small>
             </div>
             <div *ngIf="regFormGroup.controls['regBirthDateCtrl'].invalid && (regFormGroup.controls['regBirthDateCtrl'].dirty
             || regFormGroup.controls['regBirthDateCtrl'].touched)" class="alert alert-danger">
               A születési idő megadása kötelező
             </div>-->
             <br>
             <!--<mat-form-field>
                <input matInput placeholder="E-mail cím" formControlName="regEmailCtrl" required>
              </mat-form-field>
              <br>-->
             <!--<mat-form-field>
                <input type="password" matInput placeholder="Jelszó" formControlName="regPasswCtrl" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="Vezetéknév" formControlName="regFirstNameCtrl" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="Keresztnév" formControlName="regLastNameCtrl" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input  type="date" matInput placeholder="Születési dátum" formControlName="regBirthDateCtrl" required>
              </mat-form-field>
              <br>-->

             <button type="submit" mat-raised-button color="primary" class="btn btn-info btn-block gomb"
               [disabled]="regFormGroup.invalid">Regisztráció</button>
             <br>
             <br>
             <!--<div *ngIf="!loginFormGroup.controls['loginPasswCtrl'].errors.required" class="alert alert-danger">
              Hibás jelszó!
            </div>-->
             <!--<button mat-raised-button color="warn"
            class="btn btn-info btn-block">Bejelentkezés Google fiókkal</button>-->
             <!--class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"-->
           </form>
         </mat-tab>
       </mat-tab-group>
     </mat-card>
   </div>
 </div>

 <!--<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile class="pictureCol"></mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card class="main-card">
      <div class="d-flex justify-content-end" style="margin-top: 2rem">
        <img src="../../../../assets/img/logo.png" height="60">
      </div>
      <mat-tab-group>
        <mat-tab label="Bejelentkezés">
          <form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()">
            <br>
            <mat-form-field>
              <input matInput placeholder="Felhasználónév" formControlName="loginNameCtrl" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="password" matInput placeholder="Jelszó" formControlName="loginPasswCtrl" required>
            </mat-form-field>
            <br>
            <br>
            <button type="submit" mat-raised-button color="success"
            style="float: right;">Bejelentkezés</button>
          </form>
        </mat-tab>
        <mat-tab label="Regisztráció">
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>-->

 <!--<div class="container">
  <div class="row">
    <div class="col-9">
    </div>
    <div class="col-3">
      <mat-card class="main-card">
        <div class="d-flex justify-content-end" style="margin-top: 2rem">
          <img src="../../../../assets/img/logo.png" height="60">
        </div>
        <mat-tab-group>
          <mat-tab label="Bejelentkezés">
            <form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()">
              <br>
              <mat-form-field>
                <input matInput placeholder="Felhasználónév" formControlName="loginNameCtrl" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input type="password" matInput placeholder="Jelszó" formControlName="loginPasswCtrl" required>
              </mat-form-field>
              <br>
              <br>
              <button type="submit" mat-raised-button color="success">Bejelentkezés</button>
            </form>
          </mat-tab>
          <mat-tab label="Regisztráció">
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
-->
