
.mat-form-field{
  width: 100%;
}

.mat-raised-button.mat-success {
  color: #f0fff3;
  background-color: #155724;
}



.main{
  background-image: url("../../../../assets/img/home_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-top: 5vh;
  margin-right: 10vh;
  border-radius: 0.5rem;
}
.center {
  margin: 0;
  opacity: 75%;
  position: absolute;
  top: 50%;
  width: 45rem;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.button{
  background-color: #3f729b;
  color: white;
}

