
.mat-form-field{
  width: 95%;
  margin-left: 1rem;
}

.form-group{
  width: 95%;
  margin-left: 1rem;
}


.mat-raised-button.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

body, html{
  background-color: gray;
}


.main{
  background-image: url("../../../../assets/img/home_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-top: 5vh;
  margin-right: 10vh;
  border-radius: 0.5rem;
}
.center {
  margin: 0;
  opacity: 90%;
  position: absolute;
  top: 40%;
  height: 30rem;
  width: 45rem;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gomb{
  background: #3f729b;
  color: white;
}

.cel{
  font-family: "Segoe Print", Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
  font-stretch: expanded;
  text-align: left;
  color: #3f729b;
}

.spinner-grow{
  text-align: center;
}




.button{
  background-color: #3f729b;
  color: white;
}

