<div>
  <h4>Nyitott befektetések</h4>
  <hr>
  <!-- Részvények-->
<div *ngIf="(getVal() | async)?.length > 0; else loading"></div>
    <div *ngFor='let reszveny of getVal() | async'>
      <mat-card class="z-depth-2">
        <mat-card-header>
          <mat-card-title> {{reszveny.befektetesAdatok.vallalatNeve}}
          </mat-card-title>
          <mat-card-subtitle> {{reszveny.befektetesAdatok.datum}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h6>Befektetési adatok</h6>
          <br>
          Státusz: {{reszveny.befektetesAdatok.status}}
          Stratégia: {{reszveny.befektetesAdatok.strategi}}
          Ágazat: {{reszveny.befektetesAdatok.agazat}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" mat-button>Megtekintés</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #loading>
    <p style="font-weight: bold;color: #3f729b;">Nincs megjeleníthető adat. Adj hozzá egy új elemzést!</p>
  </ng-template>


