.mat-form-field{
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
}

form{
    padding-top: 1rem;
}

button{
    margin-left: 1rem;
    background-color: #3F729B;
    color: white;
}

.mat-card {
    margin-top: 2%;
    width: 95%;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: center;
    background-color: #3F729B;
    color: white;
}

.badge{
    padding: 1rem;
    margin-top:1rem;
     width:95%;
     background-color: #3F729B;
     color: white;
     font-size: small;
     margin-left: 1rem;
     margin-right: 2rem;
     text-transform: uppercase;
}