.mat-form-field{
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
}

form{
    padding-top: 1rem;
}

button{
    margin-left: 1rem;
    background: -webkit-linear-gradient(left, #052a49, #3F729B);
    color: white;
}

.mat-card {
    margin-top: 2%;
    width: 95%;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: center;
    background: -webkit-linear-gradient(left, #052a49, #3F729B);
    color: white;
}

.p-tag{
  background: -webkit-linear-gradient(left, #052a49, #3F729B);
  padding: 0.7rem;
}

.mentesBtn{
  background: #3F729B;
  color: white;
}

.badge{
    padding: 1rem;
    margin-top:1rem;
     width:95%;
     background: -webkit-linear-gradient(left, #052a49, #3F729B);
     color: white;
     font-size: small;
     margin-left: 1rem;
     margin-right: 2rem;
     text-transform: uppercase;
}
