h4{
  color: black;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 1rem;
}

.badge{
  background: #3f729b;
}

.mat-accordion{
  margin-top: 2rem;
}

.mat-expansion-panel{
  background-color: whitesmoke;
  color: #3f729b;
}

.mat-form-field{
  width: 95%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-fluid .row{
  margin-left: 1rem;
  margin-right: 1rem;
}



mat-panel-title{
  color: #3f729b;
  text-transform: uppercase
}

.mat-form-field {
  margin-right: 12px;
}
