.mat-dialog-title{
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: left;
    font-size: 1.5em;
  }

.textarea{
    border: none;
}

.torles-btn{
    float: left !important;
}